<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="asyncReceiver"
		class="com.tibetone.ztkjhim.cmpp.AsyncReceiverUtil"
		scope="singleton">
		<property name="smsService" ref="smsService"></property>
		<property name="userOPService" ref="userOPService"></property>
		<property name="autoSendSmsService" ref="autoSendSmsService"></property>
		<property name="customerService" ref="customerService"></property>
	</bean>
	
	<bean id="longSMS" class="com.tibetone.ztkjhim.cmpp.LongSMSUtil">
		<property name="smsService" ref="smsService"></property>
		<property name="sendSmsService" ref="autoSendSmsService"></property>
		<property name="autoSendSmsbackService" ref="autoSendSmsbackService"></property>
		
	</bean>

	<bean id="sendMessage"
		class="com.tibetone.ztkjhim.util.cmpp.SendMessage">
		<property name="sendSmsService" ref="autoSendSmsService"></property>
	</bean>
</beans>