<?xml version="1.0" encoding="UTF-8"?>

<!--
	- Application context definition for JPetStore's business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext-local/jta.xml (see web.xml's "contextConfigLocation").
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="listSendSMS"
		class="com.tibetone.ztkjhim.action.ListSendSMS" scope="prototype">
		<property name="logService" ref="logService"></property>
		<property name="service" ref="customerService"></property>
	</bean>
	<bean id="sendGroupSMSView" class="com.tibetone.ztkjhim.action.SendGroupSMSView">
		<property name="logService" ref="logService"></property>
		<property name="customerService" ref="customerService"></property>
	</bean>
	<bean id="adminuserinfo" class="com.tibetone.ztkjhim.action.AdminUserAction">
		<property name="adminuserService" ref="adminuserService"></property>
	</bean>
	<bean id="smslistinfo" class="com.tibetone.ztkjhim.action.SMSAction">
		<property name="smsService" ref="smsService"></property>
		<property name="autoSendSmsService" ref="autoSendSmsService"></property>
		<property name="customerService" ref="customerService"></property>
	<property name="autoSendSmsbackService" ref="autoSendSmsbackService"></property>
	</bean>
	
</beans>