<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext-main.xml</param-value>
	</context-param>
<!--  
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	-->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>

		<servlet-name>init</servlet-name>
		<servlet-class>
			com.tibetone.ztkjhim.servlet.InitCmppReceive
		</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
		<servlet>
	<servlet-name>InitSendMessage</servlet-name>
		<servlet-class>
			com.tibetone.ztkjhim.servlet.InitSendMessage
		</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<!-- WEB SERVICE 配置 axis -->
	  <servlet>
        <servlet-name>axis</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>axis</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

	  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <filter>   
     <filter-name>AuthenticationFilter</filter-name>   
     <filter-class>com.tibetone.ztkjhim.util.AuthenticationFilter</filter-class>   
</filter>   

<filter-mapping>   
     <filter-name>AuthenticationFilter</filter-name>   
     <url-pattern>*.jsp</url-pattern>  
</filter-mapping>
  
</web-app>
