<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-width" />
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Dispatch type</label>
			<div class="col-sm-9">
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios1" value="option1" checked
						style="margin-top: 0px;"> seq:挑选运行虚拟机最少的主机。 </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios1" value="option1" checked
						style="margin-top: 0px;"> perform:挑选实际性能最闲的主机。 </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios1" value="option1" checked
						style="margin-top: 0px;"> dispatch:挑选剩余性能最多的主机。 </label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Host</label>
			<div class="col-sm-9">
				<a href="">select</a>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Note</label>
			<div class="col-sm-9">
				<textarea class="form-control form-width" rows="3" />
			</div>
		</div>
	</form>
</div>