<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VDI</title>
</head>
<body>
	<div id="main-content" ng-controller="computingpool.ctrl">
		<h2>Computing pool</h2>
		<p id="page-intro">What would you like to do?</p>
		<button-group model="computingpoolmodel"></button-group>
		<div class="clear"></div>
		<div class="content-box">
			<div class="content-box-header">
				<h3>Computing Pool</h3>
			</div>
			<!-- End .content-box-header -->
			<div class="content-box-content">
				<div class="tab-content default-tab">
					<antable class="table-grid" options="tableOptions"></antable>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="lib/d3/colorbrewer.js"></script>
	<script type="text/javascript" src="lib/d3/geometry.js"></script>
</body>
<!-- Download From www.exet.tk-->

</html>
