.shortcut-buttons-set li .shortcut-button span .button-add,
.shortcut-buttons-set li .shortcut-button span .button-gray-add,
.shortcut-buttons-set li .shortcut-button span .button-edit,
.shortcut-buttons-set li .shortcut-button span .button-gray-edit,
.shortcut-buttons-set li .shortcut-button span .button-del,
.shortcut-buttons-set li .shortcut-button span .button-gray-del{background:url(../images/icons/button_icons.png) no-repeat; width:48px; height:48px; margin:auto}
.shortcut-buttons-set li .shortcut-button span .button-add{background-position:0 -386px;}
.shortcut-buttons-set li .shortcut-button span .button-edit{background-position:0 -338px;}
.shortcut-buttons-set li .shortcut-button span .button-del{background-position:0 -48px;}
.shortcut-buttons-set li .shortcut-button span .button-gray-add{background-position:-48px -386px;}
.shortcut-buttons-set li .shortcut-button span .button-gray-edit{background-position:-48px -338px;}
.shortcut-buttons-set li .shortcut-button span .button-gray-del{background-position:-48px -48px;}
.today-cost-ul{padding:10px 2px 8px 18px;list-style-type:none;line-height:1;}
.today-cost-ul li{padding:0 15px 10px 15px;text-align:right;}
.today-cost-ul li .today-cost-green{color:#76B700;font-size:18px;}
.today-cost-ul li .today-cost-darkOrange{color:#F7713B;font-size:18px;}

/************** new style************************/
.vdi-btn-group{float:left;padding-right:10px;padding-bottom:15px}
.vdi-btn-default{width:120px;color:#fff;background-color:#1abc9c;border-color:#16a085;}
.vdi-btn-default:hover{color:#fff;background-color:#16a085;border-color:#16a085;}